= form_for @quest do |f|
  - if @quest.errors.any?
    #error_explanation
      %h2= "#{pluralize(@quest.errors.count, "error")} prohibited this quest from being saved:"
      %ul
        - @quest.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-lg-3
      = f.label :name
      .input-group
        = f.text_field :name, :class => "form-control"
      = f.label :start_datetime
      .input-group.date.datetimepicker
        = f.text_field :start_datetime,
            :value => @quest.start_datetime.try(:strftime, "%Y-%m-%d %H:%M"),
            :class => "form-control",
            'data-date-format' => "YYYY-MM-DD HH:mm"
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
      = f.label :end_datetime
      .input-group.date.datetimepicker
        = f.text_field :end_datetime,
          :value => @quest.end_datetime.try(:strftime, "%Y-%m-%d %H:%M"),
            :class => "form-control",
            'data-date-format' => "YYYY-MM-DD HH:mm"
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar

      .actions
        = f.submit 'Save', :class => ["btn", "btn-success"]
