= form_for [@quest, @selfie] do |f|
  - if @selfie.errors.any?
    #error_explanation
      %h2= "#{pluralize(@selfie.errors.count, "error")} prohibited this selfie from being saved:"
      %ul
        - @selfie.errors.full_messages.each do |msg|
          %li= msg

  = f.file_field :image
  = f.hidden_field :quest_id, value: @quest.id
  .actions
    = f.submit 'Save'
