%h1 Listing selfies

%table
  %tr
    %th
    %th
    %th
    %th

  - @selfies.each do |selfie|
    %tr
      %td= image_tag selfie.image.url(:thumb)
      %td= link_to 'Show', [@quest, selfie]
      %td= link_to 'Edit', edit_quest_selfie_path(@quest, selfie)
      %td= link_to 'Destroy', [@quest, selfie], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to new_quest_selfie_path(@quest), :class => "btn btn-default menu-btn", :id => "new-photo-button" do
  = image_tag "cameraIcon.png"
  %span Take a Photo
= link_to quest_selfies_path(@quest), :class => "btn btn-default menu-btn", :id => "gallery-button" do
  = image_tag "galleryIcon.png"
  View Gallery
= link_to quest_selfies_path(@quest), :class => "btn btn-default menu-btn", :id => "leaderboard-button" do
  = image_tag "leaderboardIcon.png"
  Leaderboard (in construction)
= link_to quest_selfies_path(@quest), :class => "btn btn-default menu-btn", :id => "my-selfies-button" do
  = image_tag "owngalleryIcon.png"
  My Gallery (in construction)