%p#notice= notice

= image_tag @selfie.image.url
= image_tag @selfie.image.url(:medium)
= image_tag @selfie.image.url(:thumb)


= link_to 'Edit', edit_quest_selfie_path(@quest, @selfie)
\|
= link_to 'Back', quest_selfies_path(@quest)
